<div class = "search">
    <form [formGroup]="form">
        <div>
            query:
            <input type="text" formControlName="query">
        </div>
    
        <div>
            limit:
            <input type="range" min = 1 max = 25 formControlName="limit">
            <span>{{limit}}</span>
        </div>
    
        <div>
            rating:
            <div class="rating-container">
                <input type="radio" formControlName="rating" value="g">G
                <input type="radio" formControlName="rating" value="pg">PG
                <input type="radio" formControlName="rating" value = "pg-13">PG-13
                <input type="radio" formControlName="rating" value="r">R
            </div>
        </div>
        <div>
            <button type="button" (click)="processForm()" [disabled]="form.invalid">Search</button>
        </div>

        <div>
            <button type="button" (click)="reset()" >Clear</button>
        </div>
    </form>
</div>
